{% extends 'main/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="text-center py-5" style="background-color: #4CAF50; color: white; border-radius: 10px;">
  <div class="text-center">
    <h1 class="mb-4" style="font-family: 'Pacifico', cursive; color: white; font-size: 38px;">Мы на связи!</h1>
    <h1 class="mb-4" style="font-family: 'Pacifico', cursive; color: white; font-size: 38px;">С удовольствием ответим </h1>
    <h1 class="mb-4" style="font-family: 'Pacifico', cursive; color: white; font-size: 38px;">natalja.rejenta@gmail.com </h1>
  </div>
{% endblock %}
