{% load static %}
<footer class="bg-light text-center text-lg-start mt-5 py-4">
  <div class="container">
    <div class="text-center py-5" style="background-color: #4CAF50; color: white; border-radius: 10px;">
    <div class="row align-items-center">

      <!-- Фото -->
      <div class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center">
        
 
      </div>

      <!-- Текст -->
      <div class="col-md-8 text-md-start text-center">
        <h1 class="mb-4" style="font-family: 'Pacifico', cursive; color: rgb(72, 106, 147); font-size: 28px;">Наш сайт. ARR </h1>

        <h1 class="mb-4" style="font-family: 'Pacifico', cursive; color: rgb(72, 106, 147); font-size: 28px;">© 2025 +371 26533829 </h1>
        
      </div>

    </div>
  </div>
</footer>
